<!-- <footer class="footer">
    <div class="container--flex">
        <div class="column--50">
            <h2>Hecho en: Django 3.0</h2>
        </div>
        <div class="column--50">
            <h3>Desarrollado por Grupo N</h3>
        </div>
    </div>
    <div>
        &copy;Todos los derechos para NADIE
    </div>
</footer> -->

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Blog Unab</h5>
          <p>Desarollado en Django 3.0 por grupo N°3.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Participantes</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Daniel Paredes Acevedo</a>
            </li>
            <li>
              <a href="#!">Alejandro Crisostomo Rojas</a>
            </li>
            <li>
              <a href="#!">Nicolas Maza Cerda</a>
            </li>
            <li>
              <a href="#!">Marcelo Letelier Palomares</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Profesor:</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Pablo Hernan Schwarzenberg Riveros</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/%22%3E MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->